.img-avatar {
  width: 24px;
    height: 26px;
  border-radius: 50%;
  /* margin-right: 7px; */
}

.span-avatar-name {
  font-size: 1.1rem;
  transform: translateY(15%);
}

/* .header-cart--shopping {
  margin-right: -20px;
} */
/* .img-logo {
  width: 10px;
  height: 10px;
  
  border-radius: 10px;
} */

/* số card hiển thị ở màn hình pc là 4 */
.cards {
  --spacing: 10px;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  padding: 10px;
}

.card-image {
  /* height: 100px; */
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.card-title {
  font-weight: 500;
  margin-bottom: 5px;
  width: 100%;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

/* .card-product {
  display: flex;
  align-items: center;
} */

/* .card-product-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
} */
.card-top {
  margin-top: 5px;
}
.card-top .card-link {
  margin-left: 15px;
}

.card-product-info {
  padding-left: 20px;
  flex: 1;
}

.card-product-top {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.card-product-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
}

.card-product-top ion-icon {
  color: #20e3b2;
  margin-left: 5px;
}

.card-product-type {
  color: #999;
  font-weight: 500;
  font-size: 15px;
}

.card-bottom {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add:hover {
  color: #ff8c00;
}

/* .card-sale {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ff6651;
  cursor: pointer;
} */

.card-sale:hover {
  cursor: pointer;
}

.card-sale span {
  margin-left: 10px;
  /* //font-size: 14px; */
}

.card-price {
  font-size: 13px;
  color: #dc143c;
  font-weight: 300;
  text-decoration: line-through;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-top {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-link {
  color: black;
  text-decoration: none;
}

.card-link:hover {
  color: black;
}

/* detail-product */
.detail-body {
  display: flex;
  --spacingColumn: 25px;
  margin-left: -25px;
}

.detail-content {
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(30% - var(--spacingColumn));
  margin-left: var(--spacingColumn);
  margin-bottom: var(--spacingColumn);
  display: flex;
  padding-top: 25px;
  flex-direction: column;
}

.detail-content-info-product {
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(50% - var(--spacingColumn));
  margin-left: var(--spacingColumn);
  margin-bottom: var(--spacingColumn);
  padding: 15px;
}

.detail-content-description {
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(20% - var(--spacingColumn));
  margin-left: var(--spacingColumn);
  margin-bottom: var(--spacingColumn);
  padding-top: 25px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.detail-content-image-icon {
  overflow: hidden;
  width: calc(20% - 25);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.detail-content-image-show {
  overflow: hidden;
  width: calc(80% - 25);
  margin-left: 25px;
  margin-bottom: 25px;
}

.detail-content-image-icon img {
  width: 100%;
  height: 230px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.detail-content-image-show img {
  width: 100%;
}

.detail-content-image-list-icon {
  display: flex;
  justify-content: space-around;
}

.detail-content-image-list-icon img {
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.detail-content-image-list-icon img:hover {
  border: 2px solid #d2e900;
}

.detail-content-info-product-price {
  text-decoration: line-through;
}

/* detail product */

/* header-cart */
.header-cart {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header-cart img {
  width: 35px;
  height: 35px;
}

.header-cart span {
  padding: 5px;
  width: 22px;
  background-color: rgb(253, 216, 53);
  border-radius: 50%;
  position: absolute;
  margin-top: -10px;
  margin-left: -8px;
  color: black;
  font-size: 0.7rem;
  text-align: center;
}

.header-cart a {
  color: white;
  text-decoration: none;
}

.time {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-left: -10px;
}

.time span {
  margin-left: 20px;
}

.detail-order {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: -5px;
  padding: 10px;
}

.detail-order-minus,
.detail-order-plus {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  cursor: pointer;
}

.detail-order-plus:hover {
  border: 1px solid #ff0000;
}

.detail-order-minus:hover {
  border: 1px solid #ff0000;
}

.detail-order-money {
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-left: -10px;
}

.detail-order-money span {
  margin-left: 10px;
}

.btn-cart {
  display: flex;
  justify-content: center;
}

.btn-add-to-cart {
  background-color: #008000;
  border: none;
  width: 160px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 40px;
  color: white;
  border-radius: 20px 20px;
}

.btn-add-to-cart:hover {
  background-color: #af151b;
}

/* header-cart */

/* login */
.login-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.shop-name,
.form-login,
.login-title,
.create-account {
  margin: auto;
}

.form-login {
  display: flex;
  min-height: 200px;
  padding: 30px;
  min-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

/* validate báo lỗi ở input login */
.form-login .span-err {
  color: red;
  display: block;
}

.form-login .span-hide {
  display: none;
}

.login-title {
  padding: 10px;
  display: flex;
}

.login-title div {
  width: 90px;
  border-top: 1px solid #ccc;
  margin-top: 12px;
}

.create-account button {
  background-color: #f08080;
  border: 1px solid #ccc;
  height: 40px;
  width: 275px;
  border-radius: 10px;
  color: #fffff0;
  font-size: 1.2rem;
}

.back-home button {
  background-color: #da70d6;
  border: 1px solid #ccc;
  height: 40px;
  width: 275px;
  border-radius: 10px;
  margin-left: 510px;
  font-size: 1.3rem;
  color: #ffff00;
}

.form-login input {
  width: 100%;
  outline: none;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-login input:focus {
  border-color: #f1c65b;
}

.btn-login {
  width: 100%;
  background-color: #f1c65b;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.customGPlusSignIn {
  margin: auto;
  margin-top: 15px;
}

#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 190px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.icon {
  background: url("https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png")
    transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 7px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}

/* kết thúc login */

/* create account */
.container-create {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.title-shop,
.form-create-account {
  margin: auto;
  color: #ffa500;
}

.form-create-account {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  border: 1px solid #ccc;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 20px;
}

.form-create-account input {
  border: 1px solid #ccc;
  height: 35px;
  outline: none;
  border-radius: 5px;
}

.form-create-account input:focus {
  border-color: #f1c65b;
}

.form-create-account button {
  background-color: #c71585;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  color: white;
}
.form-back button {
  background-color: #c71585;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  color: white;
}

.show-err {
  color: red;
  display: block;
}

.hide-err {
  display: none;
}

/*kết thúc create account */

/* cart */
.container-body-cart {
  background-color: #efefef;
}

/* phần container chứa nội dung của cart */
.cart-container {
  --spacing: 25px;
  --columns: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  margin-top: 25px;
}

.cart-inner {
  overflow: hidden;
  width: calc(70% - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  padding: 25px;
}

/* // phần chưa nội dung của thông tin user và tính tiền */
.cart-user {
  width: calc(30% - var(--spacing));
  display: flex;
  flex-direction: column;
}

/* phần thông tin của user lấy từ localStorage */
.cart-user-info {
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* phần tính tiền trong cart */
.cart-user-info2 {
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  flex-direction: column;
}

.cart-content-header {
  display: flex;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(54, 54, 75, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
}

.cart-content-header-name {
  width: calc(50% - 25px);
}

.cart-content-header-price {
  width: calc(30% - 25px);
}

.cart-content-header-quantity {
  width: calc(30% - 50px);
  margin-left: -10px;
  display: flex;
  justify-content: space-around;
}

.cart-content-header-quantity span {
  width: 54px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
}

.cart-content-header-quantity span.icon-remove,
.cart-content-header-quantity span.icon-add {
  cursor: pointer;
  background-color: #006400;
}

.cart-content-header-money {
  width: calc(30% - 25px);
  margin-left: 10px;
}

.cart-content-header-delete {
  cursor: pointer;
}

.cart-content-header-delete:hover {
  border: 1px solid #ccc;
}

.cart-user-info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-user-info-name-phone {
  display: flex;
  margin-bottom: 10px;
}

/* .cart-user-info-name {
  width: calc(50% - 25px);
} */

/* .cart-user-info-phone {
  border-left: 1px solid #ccc; 
 padding-left: calc(calc(34% - 25px) / 2);
} */

.btn-buy-now {
  margin-bottom: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #cd5c5c;
  border: none;
  color: white;
}

/* phần chứa menu của user trên header */
#basic-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* modal order detail */
.modal-content-order {
  display: flex;
  flex-wrap: wrap;
  --spacingModal: -15px;
  --columnModal: 2;
  margin-bottom: -15px;
}

.content-product {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-around;
}

.content-user {
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
}

.content-product-img img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.content-product-name {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-product-body {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
}

.info-note {
  padding: 10px;
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  outline: none;
}

/*kết thúc modal order detail */

/* footer */
.footer-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 30px;
  justify-content: space-around;
}

.footer-logo img {
  width: 100px;
  height: 150px;
}

.footer-icons {
  color: #fff;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.footer-info ul,
.footer-service ul,
.footer-connect ul {
  color: #fff;
  list-style-type: none;
}

/*kết thúc footer */

/* update thông tin user */
.customer-body {
  display: flex;
  flex-direction: column;
}

.customer-container {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  flex-direction: column;
  width: 500px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.input-container {
  position: relative;
  margin-top: 20px;
}

.input-control {
  outline: none;
  height: 50px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 20px;
  transition: 0.25s ease;
}

.form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11px;
  user-select: none;
  pointer-events: none;
  color: #999;
}

.input-control:not(:placeholder-shown) + .form-label,
.input-control:focus + .form-label {
  top: -2px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.25s ease;
  background-color: white;
}

.btn-update {
  background-color: #cc0000;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  border-radius: 10px;
}

.btn-cancel {
  background-color: #6495ed;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  border-radius: 10px;
}

.customer-content {
  display: flex;
  flex-direction: column;
}

.customer-content input:focus {
  border-color: #f1c65b;
}

.customer-bottom {
  display: flex;
  justify-content: flex-end;
}

.customer-bottom button {
  margin-left: 20px;
  margin-top: 20px;
}

/*kết thúc update thông tin user */

/* view all product */
.view-all {
  display: flex;
  margin-bottom: 20px;
}

.btn-view-all {
  border: none;
  background-color: #006400;
  height: 40px;
  width: 300px;
  border-radius: 15px;
  margin: auto;
  color: white;
}

.home {
  display: flex;
  margin-bottom: 20px;
}

.btn-home {
  border: none;
  background-color: #006400;
  height: 40px;
  width: 300px;
  border-radius: 15px;
  margin: auto;
  color: white;
  margin-left: auto;
}

.btn-view-all:hover {
  background-color: #cc0000;
}

.btn-view-all:focus {
  background-color: #0d6efd;
  transition: 0.25s ease;
}

/* view all product */

/* page all product */
.container-all-products {
  margin-top: 50px;
}

/* product null  */
.product-null {
  margin-top: 150px;
  height: 230px;
  text-align: center;
  font-size: 50px;
  color: #999;
}

/* the a */
a {
  text-decoration: none;
  cursor: pointer;
}

/* search product */
.search-container {
  width: 700px;
  height: 50px;
  border-radius: 4px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form-container {
  display: flex;
}

.form-border {
  position: absolute;
  width: 700px;
  height: 50px;
  z-index: -1;
  top: 0;
  left: 0;
  border: 1px solid rgb(173, 172, 172);
  border-radius: 4px;
}

.form-select {
  width: 150px;
  background-color: #dadada;
  height: 50px;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  z-index: 2;
}

.form-select option {
  background-color: white;
}

.form-select:focus {
  outline: #f3a847 solid 3px;
  /* border: 3px solid #f3a847; */
  /* border-color: #f3a847 */
}

.form-input:focus + .form-border {
  outline: #f3a847 solid 3px;
  /* border: 3px solid #f3a847; */
}

.form-input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
}

.form-icon {
  width: 55px;
  height: 50px;
  background-color: #ffff00;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.icon-search {
  margin-top: 10px;
  margin-left: 7px;
}

.form-icon:active {
  outline: #f3a847 solid 3px;
}

/* all product pagination */

.all-product-pagination {
  display: flex;
  justify-content: flex-end;
}

/* mô tả sp */
.description-text {
  white-space: nowrap;
  height: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: height;
  transition-duration: 2s;
}

/* kết thúc mô tả sp */

.btn-see-more {
  outline: none;
  border: 1px solid #af151b;
  height: 40px;
  width: 120px;
  border-radius: 4px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn-see-more:hover {
  background-color: #af151b;
  color: white;
}

/* tương thích tỉ lệ màn hình 1024px */
@media screen and (max-width: 1024px) {
  .search-container {
    display: none;
  }
  .container-search {
    justify-content: flex-end;
  }
  .carousel-item img {
    width: 623px;
    height: 600px;
  }
  .container-carousel {
    width: 800px;
  }
  .cards {
    --columns: 3;
    margin-left: 0px;
  }
}

/* tỉ lệ màn hình 820px  */
@media screen and (max-width: 820px) {
  .cards {
    --columns: 2;
  }
  .carousel-item img {
    width: 700px;
  }
  .container-carousel {
    width: 700px;
  }
  .user-info {
    display: none;
  }
  .detail-body {
    flex-direction: column;
    display: flex;
    --spacingColumn: 25px;
    margin-left: -35px;
    font-size: 1rem;
    width: 92%;
  }
  .detail-content {
    width: 100%;
  }
  .detail-content-image-icon img {
    width: 600px;
    object-fit: cover;
    height: 100%;
  }
  .detail-content-image-list-icon img {
    width: 200px;
    object-fit: cover;
    height: 200px;
  }
  .detail-content-info-product {
    width: 100%;
    padding-left: 30px;
  }
  .detail-content-description {
    width: 100%;
  }
  .customer-container {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    flex-direction: column;
    width: 700px;
    height: 602px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset,
      rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
      rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
      rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px,
      rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
  }
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 278px;
    border-radius: 10px;
    margin-left: 207px;
    font-size: 1.3rem;
    color: #ffff00;
  }
  .form-login {
    display: flex;
    min-height: 200px;
    padding: 30px;
    min-width: 340px;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 42px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

  .cart-content-header-money {
    display: none;
  }
  .cart-content-header-money {
    display: none;
  }
  .cart-content-header-delete {
    margin-left: 50px;
  }
  .cart-content-header-price {
    margin-right: 30px;
  }
}

/* tương thích tỉ lệ màn hình 768px */
@media screen and (max-width: 768px) {
  .cards {
    --spacing: 5px;
    --columns: 2;
  }
  .cart-user {
    display: flex;
    justify-content: space-between;
  }
  .cart-inner {
    overflow: hidden;
    width: calc(100% - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    padding: 25px;
    margin-top: -40px;
  }
  .content-user {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    flex-direction: column;
  }
  .cart-user-info {
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 283%;
    padding: 10px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 88px;
  }
  .cart-user-info2 {
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 283%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 88px;
    margin-top: -20px;
  }
  .btn-buy-now {
    margin-bottom: 40px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: #cd5c5c;
    border: none;
    color: white;
    margin-top: -10px;
    margin-left: 255px;
  }
}

/* tương thích tỉ lệ màn hình 540px */
@media screen and (max-width: 540px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 315px;
    margin-left: 28px;
}
  .cards {
    --columns: 1;
    width: 88%;
  }
  .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 160px;
}
  .carousel-item img {
    width: 350px;
  }
  .container-carousel {
    width: 350px;
  }
  .user-info {
    display: none;
  }
  .img-avatar {
    width: 24px;
    height: 26px;
    border-radius: 50%;
    margin-left: -28px;
    margin-right: 0px;
}
.span-avatar-name {
  font-size: 0.7rem;
  transform: translateY(30%);
  /* margin-left: -4px; */
}
.header-cart span {
  padding: 5px;
  width: 19px;
  background-color: rgb(253, 216, 53);
  border-radius: 50%;
  position: absolute;
  margin-top: -10px;
  margin-left: -8px;
  color: black;
  font-size: 0.7rem;
  text-align: center;

}

.detail-content {
  width: 115%;
}

.detail-content-description {
  width: 115%;
}
  .detail-content-image-icon img {
    width: 293px;
    object-fit: cover;
  }
  .detail-content-image-list-icon img {
    width: 80px;
    object-fit: cover;
    height: 80px;
  }
  .detail-content-info-product {
    padding: 0;
    width: 116%;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
  }
  .footer-service,
  .footer-connect {
    display: none;
  }
  .cart-content-header-delete {
    display: none;
  }
  .cart-content-header-money {
    display: none;
  }
  .cart-content-header-quantity {
    /* width: calc(30% - 50px); */
    margin-left: -10px;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
  }
  .cart-container {
    /* --spacing: 25px; */
    --columns: 1;
    /* display: flex; */
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-top: 25px;
  }
  .cart-content-header {
    display: inline-flex;
    padding: 10px;
    background-color: white;
    box-shadow: rgb(54 54 75 / 20%) 0px 7px 29px 0px;
    margin-bottom: 20px;
    width: 310px;
    margin-left: -3px;
  }

  .cart-inner {
    overflow: hidden;
    width: calc(100% - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    /* padding: 25px; */
  }

  .cart-user-info {
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 100%;
    padding: 10px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 306px;
    margin-left: 49px;
  }
  .cart-user-info2 {
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 305px;
    margin-left: 49px;
  }
  .btn-buy-now {
    margin-bottom: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #cd5c5c;
    border: none;
    color: white;
    width: 300px;
    margin-left: 49px;
  }
  .cart-content-header-quantity span {
    width: 30px;
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    height: 40px;
    /* margin-right: 10px; */
  }
  .icon-remove {
    border-radius: 5px;
    border-color: #0d6efd;
    height: 45px;
    margin-left: 24px;
    width: 45px;
  }
  .icon-add {
    border-radius: 5px;
    border-color: #0d6efd;
    height: 45px;
    margin-right: 79px;
    width: 45px;
  }
  .content-product {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-around;
    height: 55px;
  }
  .content-user {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    width: 800%;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    flex-direction: column;
    height: 309px;
  }
  .info-note {
    padding: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    outline: none;
  }

  .info-user .info-order .info-note {
    margin-bottom: -15px;
  }
  .info-email {
    margin-bottom: -15px;
    margin-top: -10px;
  }

  .info-shipper {
    display: none;
  }
  .info-shipped {
    display: none;
  }
  .customer-container {
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    flex-direction: column;
    width: 350px;
    height: 490px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset,
      rgb(0 0 0 / 15%) 0px -36px 30px 0px inset,
      rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px,
      rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px,
      rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
  }
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    margin-left: 119px;
    font-size: 1.3rem;
    color: #ffff00;
  }
  .form-create-account {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 412px;
    margin-top: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
    border-radius: 20px;
  }
  .card-price {
    font-size: 13px;
    color: #dc143c;
    font-weight: 300;
    text-decoration: line-through;
    display: flex;
    margin-left: 40px;
}
}

/* tương thích tỉ lệ màn hình 414px */
@media screen and (max-width: 414px) {
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    margin-left: 56px;
    font-size: 1.3rem;
    color: #ffff00;
  }
}

/* tương thích tỉ lệ màn hình 390px */
@media screen and (max-width: 390px) {
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    margin-left: 45px;
    font-size: 1.3rem;
    color: #ffff00;
  }
}

/* tương thích tỉ lệ màn hình 393px */
@media screen and (max-width: 393px) {
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    margin-left: 47px;
    font-size: 1.3rem;
    color: #ffff00;
  }
}

/* tương thích tỉ lệ màn hình 375px */
@media screen and (max-width: 375px) {
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    margin-left: 38px;
    font-size: 1.3rem;
    color: #ffff00;
  }
  /* .detail-content {
    width: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: calc(30% - var(--spacingColumn));
    
    margin-bottom: var(--spacingColumn);
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    margin-left: 8px;
} */
  /* .cart-content-header {
    display: inline-flex;
    padding: 10px;
    background-color: white;
    box-shadow: rgb(54 54 75 / 20%) 0px 7px 29px 0px;
    margin-bottom: 20px;
    width: 310px;
    
}
.cart-user-info {
  overflow: hidden;
  background-color: white;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  width: 100%;
  padding: 10px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 306px;
  margin-left: 52px;
}
.cart-user-info2 {
  overflow: hidden;
  background-color: white;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 306px;
  margin-left: 52px;
}
.btn-buy-now {
  margin-bottom: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #cd5c5c;
  border: none;
  color: white;
  width: 300px;
  margin-left: 54px;
} */
}

/* tương thích tỉ lệ màn hình 912px */
/* @media screen and (max-width: 912px) {
  .back-home button {
    background-color: #da70d6;
    border: 1px solid #ccc;
    height: 40px;
    width: 275px;
    border-radius: 10px;
    margin-left: 210px;
    font-size: 1.3rem;
    color: #ffff00;
  }
} */
